{% extends "base.html" %}

{% block title %} Home {% endblock %}
{% block content %}
    <div class="searchBar">
        <form class="example" action="/home" style="margin:auto;max-width:300px">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="searchBar"></i></button>
        </form>
    <div>

        <h4><a href="/home/{{result}}">{{result}} </a></h4>

        {%for gen in list%}
            <p><a href="/home/{{gen}}">{{ gen }} </a></p>
        {% endfor %}
{% endblock %}